@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg-hero {
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-102267.jpg');
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@keyframes rainbow {
  0% {
    color: red;
  }

  14% {
    color: orange;
  }

  28% {
    color: yellow;
  }

  42% {
    color: green;
  }

  57% {
    color: blue;
  }

  71% {
    color: indigo;
  }

  85% {
    color: violet;
  }

  100% {
    color: red;
  }
}

.rainbow-text {
  animation: rainbow 1s infinite;
}